In [ ]:
SELECT IIF(GROUPING(sz.SZOBA_SZAMA), 'Részösszeg', 0),
       YEAR(Mettol),
       COUNT(*)
FROM FOGLALAS f LEFT JOIN SZOBA sz ON f.SZOBA_FK = sz.Szoba_ID
GROUP BY ROLLUP(sz.SZOBA_SZAMA, YEAR(Mettol))

In [ ]:
SELECT  v.NEV
FROM Vendeg v JOIN Foglalas f ON v.USERNEV = f.UGYFEL_FK
WHERE AVG(FELNOTT_SZAM + GYERMEK_SZAM) <
(
    SELECT *
    FROM Vendeg v JOIN Foglalas f ON v.USERNEV = f.UGYFEL_FK 
    LAG(f.FOGLALAS_PK, 3, 0) OVER(ORDER BY F:FOGLALAS_PK, ORDER BY Mettol)

)